{% extends "base.html" %}

{% block head_content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}" type="text/css">
</head>
{% endblock %}

{% block container %}
<body>
    <p>Login to your account</p>
    <form class="" method="POST" action="{% url "usuarios:login" %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" name="username"
            placeholder="Username" value="">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password"
            placeholder="Password" value="">
        </div>

        <button type="submit" value="submit">Sign in!</button>

        <p>Don't have an account yet?<a href="{% url "usuarios:signup" %}"> Register here!</a></p></p>
        </p>
    </form>
</body>
{% endblock %}
