{% extends "base.html" %}

{% block head_content %}
<title>Javebooking Home</title>
{% endblock %}

{% block container %}
    {% if error %}
    <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    {% include "navbar.html" %}

    <div class="jumbotron text-center" style="background-color:lightblue">
        <h1>Welcome to Javebooking</h1>
        <p>Select your own schedule, practice English anytime, anywhere!</p>
    </div>

    <div class="container" style="background-color:#ECECEB">
        <div class="row">
            <div class="col-sm-4 mt-3">
                <h3>Schedules</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="col-sm-4 mt-3">
                <h3>Meet your teachers</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="col-sm-4 mt-3">
                <h3>Events</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

{% endblock %}
